@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

*{
    margin : 0;
    padding :0;
    list-style : none;
    text-decoration : none; 
}

body{
    background-color: #F8F8FF;
    color: black;
    font-family: Arial;
    height: 100%;
    font-family: 'Nanum Gothic', sans-serif,arial;
}

.storeInfo {
    padding: 10px 0;
    border-bottom : solid 1px lightgray;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}

.storeInfo > a {
    display: flex;
    justify-content: center;    /* 여기서 선택버튼 */
    z-index: 0;
    width: 100%;
    padding: 10px;
    color: #333;
}

.storeInfo a:hover{
    cursor: pointer;
    background: #cfd8dc;
    border-radius: 8px;
}

.storeInfo__imgContainer {
    padding-right: 20px;
}

.storeInfo__img {
    width: 200px;
    height: 200px;
}

.storeInfo__name {
    display: flex;
    align-items: center;
}


#root > div > div:nth-child(1) {
    margin-top:140px;
}

#root>div{
    margin: 10px;
    margin-top: 140px;
}

.loginForm{ 
    display: flex;
    flex-direction: column;
    align-items: center;
}

form{
    width: 350px;
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

form > input {
    margin: 5px 0px;
    height: 40px;
}

.option {
    display: flex;
    width: 100%;
    margin: 5px;
    justify-content: center;
}

.option button {
    margin: 50px 5px;
    padding: 5px 0;
}

.ZARI {
    display: flex;
    width: 300px;
    justify-content: center;
    margin: 100px 0px;
    font-size: 70px;
    color: #024b56;
    text-shadow: 2px 3px 4px black;
}

footer{
    display: flex;
    justify-content: center;
    padding-top: 55px;
}

.nav__container {
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
    z-index: 1;
}

.nav__logo {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: #F8F8FF;
}

.nav__logo > a > img {
    width: 230px;
}

.nav__menu {
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
    width: 100%;
    background-color: #FFA07A;
}

.nav__menu a {
    color:#333;
    font-weight: bold;
}

.register__container {
    display: flex;
    justify-content: center;
    padding: 20px 0;
}

.register__form {
    width: 510px;
    height: 210px;
}

.register__logo {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
}

.register__logo > div {
    font-weight: bold;
    font-size: 20px;
}

.register__input {
    display: flex;
    flex-direction: column;
}

.register__input > input {
    height: 40px;
    margin: 5px 0;
}

.storeDetail {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.storeDetail > * {
    padding: 20px;
    font-size: 30px;
}

.storeDetail__Name {
    font-size: 70px;
    font-weight: bold;
}

.storeDetail__Btn {
    display: flex;
    justify-content: center;
    padding: 20px
}

/* 버튼 기본 css */
.storeDetail__Btn > button {
    border:none;
    height: 50px;
    width: 500px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 7px;
    background-color: #ffccbc;
    color: black;
}

.storeDetail__Btn > button:focus{
    outline:0;
}

.storeDetail__Btn > button:hover{
    background-color:#ffddc1;
    cursor:pointer;
    box-shadow:0 0 4px #c97b63;
}

.storeDetail__menu {
    margin: 0 25px;
    border: solid 5px lightgray;
}

.storeDetail__menu > p {
    display: flex;
    justify-content: center;
    font-size: 60px;
    padding: 20px 0;
    font-weight: bold;
}

.storeDetail__menu > .menu__container > .menu__obj > .menu__delBtn {
    display: none;
}

.menu__container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.menu__obj {
    display: flex;
    width: 100%;
    padding: 20px 70px;
    border-bottom : solid 1px lightgray;
    align-items: center;
}

.menu__obj > .menu__imgContainer {
    width: 68%;
}

.menu__img {
    width: 380px;
    height: 250px;
}

.menu__obj > .menu__info {
    display: flex;
    flex-direction: column;
    width: 25%;
}

.menu__obj > .menu__delBtn {
    border:none;
    width: 7%;
    height: 50px;
    width: 70px;
    font-size: 13px;
    font-weight: bold;
    border-radius: 7px;
    background-color: #ffccbc;
    color: black;
}

.menu__delBtn:focus{
    outline:0;
}

.menu__delBtn:hover{
    background-color:#ffddc1;
    cursor:pointer;
    box-shadow:0 0 4px #c97b63;
}

.review {
    display: flex;
    justify-content: center;
}

.review__container {
    width: 510px;
}

.review__obj {
    padding: 5px 0;
}

.review__obj > a {
    color: #333;
}

.review__form {
    margin: 5px 0px;
    width: 500px;
}

.Pos {
    display: flex;
    flex-direction: column;
    padding: 20px 0;
    border-bottom : solid 1px lightgray;
}

.Pos__Name, .Pos__TableCnt, .Pos__Sales {
    display: flex;
    justify-content: center;
    font-size: 30px;
    font-weight: bold;
    padding: 10px 0;
}

.Pos__Btn {
    padding: 20px 0;
    display: flex;
    justify-content: space-around;
}

.Pos__Btn button {
    border:none;
    width: 300px;
    height: 230px;
    font-size: 50px;
    font-weight: bold;
    border-radius: 7px;
    background-color: #ffccbc;
}

.Pos__Btn button:focus{
    outline:0;
}

.Pos__Btn button:hover{
    background-color:#ffddc1;
    cursor:pointer;
    box-shadow:0 0 4px #c97b63;
}