@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

*{
    margin : 0;
    padding :0;
    list-style : none;
    text-decoration : none; 
}

body{
    background-color: #F8F8FF;
    color: black;
    margin: 10px;
    font-family: Arial;
    height: 100%;
    font-family: 'Nanum Gothic', sans-serif,arial;
}

.storeInfo {
    padding: 20px 0;
    border-bottom : solid 1px lightgray;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}

#root>div{
    
    margin: 10px;
}

.storeInfo__name, .storeInfo__intro
{
    width : 100%;
    margin: 5px 0 ;
    text-align: center;
}

.loginForm{ 
    display: flex;
    flex-direction: column;
    align-items: center;
}

form{
    width: 350px;
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

form > input {
    margin: 5px 0px;
    height: 40px;
}

.option {
    display: flex;
    width: 100%;
    margin: 5px;
    justify-content: center;
}

.option button {
    margin: 50px 5px;
    padding: 5px 0;
}

.ZARI {
    display: flex;
    width: 100%;
    justify-content: center;
    margin: 100px 0px;
    font-size: 70px;
    color: #4fc3f7;
}

footer{
    display: flex;
    justify-content: center;
}

.map {
    display: flex;
    justify-content: center;
}

.storeInfo a {
    z-index: 0;
    width: 100%;
}

.storeInfo a:hover{
    cursor: pointer;
}